<tlims-search-box title="About Tlims-Kech" [withBreadCrumb]="false"></tlims-search-box>
<section class="tk-row2">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="tk-bold">Why We Are Unique</h2>
        <p>Tlims-Kech is a powerful, responsive, and high-performance admin template. It's based 
          on Bootstrap and contains a lot of components to easily make an admin, dashboard.</p>
        <p>This template comes with a simple yet beautiful design which focused on ease of use for users. </p>
        <p>Efficiently expedite equity invested products rather than extensive outsourcing. 
          Holisticly deliver principle centered imperatives after.</p>
      </div>
      <div class="col-md-6">
        <img class="img-fluid" src="../../../../assets/images/about.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="tk-row3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="item">
          <div class="img-thumb">
            <img src="../../../../assets/images/img2.png" alt="">
          </div>
          <div class="testimonial-item">
            <div class="content">
              <p class="description"></p>
              <div class="info-text">
                <h3><a href="#" class="tk-bold"></a></h3>
                <h5><a href="#"></a></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="item">
          <div class="img-thumb">
            <img src="../../../../assets/images/img3.png" alt="">
          </div>
          <div class="testimonial-item">
            <div class="content">
              <p class="description"></p>
              <div class="info-text">
                <h3><a href="#" class="tk-bold"></a></h3>
                <h5><a href="#"></a></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
